*{
    margin: 0px;
    padding: 0px;
}


.title{
    font-size: 50pt;
    letter-spacing: 10px;
}

.text1{
    margin-top: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /* font-family: 'Playfair Display', serif; */
    color: white;
    /* color: rgb(44,117,137); */
}

.planner{
    font-size: 50pt;
    -webkit-text-stroke: 1px black;
    font-family: 'Palette Mosaic', cursive;

}
