.video{
    width: 100%;
  height: 60%;
  object-fit: contain;
  margin-top: 100px;
}

.videocontainer{
    margin-top: 100px;
    
}

.bye{
    font-size: 50pt;
    -webkit-text-stroke: 1px black;
    font-family: 'Palette Mosaic', cursive;
}

.text2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}